<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
    body {
      background-color: yellow;
    }
    marquee {
      font-family: sans-serif; font-size: 72px;
    }
  </style>
</head>
<body>
  <marquee scrollamount="50">wow</marquee>
  <marquee scrollamount="100">html</marquee>
  <marquee scrollamount="150">flask</marquee>
  <marquee direction="right" scrollamount="150">python</marquee>
  <marquee direction="right" scrollamount="100">amazeballs</marquee>
  <marquee direction="right" scrollamount="50">muchquee</marquee>
</body>
</html>
